<!DOCTYPE html>
<html lang="vi" class="h-full">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>view</title>
	<script src="https://cdn.jsdelivr.net/npm/mithril@2.0.4/mithril.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/mithril-ext/mithril-ext.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js"></script>
	<script src="https://cdn.tailwindcss.com/3.0.23"></script>
	<script src="/data.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/livescript2/livescript.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stylus2/stylus.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/boot2/boot.min.js"></script>
</head>
<body class="h-full">
</body>
</html>
